.input-container {
  padding: 5px;
}

.error {
  border: 2px solid red;
}

.success {
  border: 2px solid green;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}

.App {
  margin: auto;
  width: 250px;
}

.submit {
  margin-top: 5px;
  width: 50%;
  align-self: flex-end;
}

.text-error {
  color: red;
}

.text-success {
  color: green;
}

.center {
  margin: auto;
  text-align: center;
}
